.page-body {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    // flex-direction: column;

    &__img {
        @media (min-width: $bp-sm) {
            max-width: 500px;
        }

        @media (min-width: $bp-md) {
            max-width: 600px;
        }

        img {
            display: block;
            max-width: 100%;
            width: 100%;
            height: auto;
        }
    }
}


// //////////////////////////////
// Login page

.background-login{
    height: 100vh;
    // height: 100%;
    background: #fff;
}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 404px;
    background: white;
    border-radius: 10px;
}

.login-title{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 40px;
}

.login-title__img{
    margin-bottom: 8px;
}

.login-title__text{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.input-group{
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-group__label-email, .input-group__label-password{
    margin-bottom: 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #5B5C60;
}

.form-control{
    margin-bottom: 24px;
    border: 1px solid #D1D1D1;
    height: 48px;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.form-control:focus{
    border: 2px solid #9C2CF3;
}

.input-group__img-visible{
    position: absolute;
	top: 35px;
	right: 10px;
	display: inline-block;
	width: 24px;
	height: 24px;
    background: url('/assets/images/icon_visibility_off.png');
}

.form__button{
    background: linear-gradient(#9C2CF3, #3A49F9);
    height: 48px;
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border-radius: 24px;
}


// ///////////////////
// App page
.container-content{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.content{
    width: 100%;
    height: 100%;
}

.aside-content{
    width: 256px;
    -webkit-box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
    z-index: 10;
    background: #000;
}

.aside-content__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #EBEFF2;
}

.aside-content__img{
    width: 40px;
    height: 40px;
    margin-left: 24px;
    margin-right: 8px;
}

.aside-content__text{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.aside-content__sidebar{
    margin-left: 24px;
    margin-top: 24px;
}

.aside-content__logout{    
    padding-right: 24px;
    height: 80px;
}

.aside-content__button{
    background: linear-gradient(#9C2CF3, #3A49F9);
    padding: 12px 60px;
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border-radius: 24px;
}

.sidebar{
    margin-bottom: 50px;
}

.sidebar-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}

.sidebar-icon{
    margin-right: 14px;
}

.sidebar-icon-user{
    display: inline-block;
    width: 24px;
	height: 24px;
    background: url('/assets/images/icon_users.png');
    background-repeat: no-repeat;
}

.sidebar-icon-admin{
    display: inline-block;
    width: 24px;
	height: 24px;
    background: url('/assets/images/icon_admins.png');
    background-repeat: no-repeat;
}

.sidebar-icon-task{
    display: inline-block;
    width: 24px;
	height: 24px;
    background: url('/assets/images/icon_tasks.png');
    background-repeat: no-repeat;
    
}

.table{
    margin-top: 24px;
    margin-bottom: 40px;
    background: #fff;
    width: 100%;
    border-collapse: collapse;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    border-radius: 4px;
}

th{
    font-weight: 500;
}

.table__thead{
    text-align: left;
    height: 48px;
    color: #8E8F95;
}

.table__text-center{
    text-align: center;
}

.table__text-id{
    width: 3%;
}

.table__text-name{
    width: 20%;
}

.table__text-surname{
    width: 20%;
}

.table__text-position{
    width: 15%;
}

.table__text-email{
    width: 20%;
}

.table__text-phone{
    width: 7%;
}

.table__text-edit{
    width: 3%;
}

.table__text-number{
    color: #8E8F95;
}

.table__tbody-namesur{
    font-size: 15px;
    line-height: 18px;
}

.table__tbody-pos-em-num{
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}


.table__border-top{
    border-top: 1px solid #EBEFF2;
    height: 64px;
}

.table__edit-icon-pencil{
    display: inline-block;
    width: 16px;
	height: 16px;
    background: url('/assets/images/icon-pencil.png');
    background-repeat: no-repeat;
}

.pagination{
    display: flex;
    flex-direction: row;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.page-item{
    margin-right: 20px;
    display: flex;
    background: #fff;
    height: 36px;
    width: 36px;
    border-radius: 8px;
}

.page-item .page-link{
    height: 36px;
    width: 36px;
    padding: 5px;
}

// ////////////////////////////tasksssssss

.page-item:first-child{
    background: none;    
}

.page-item:last-child{
    background: none;    
}

.page-item:first-child .page-link{
    display: inline-block;
    width: 36px;
	height: 36px;
    background: url('/assets/images/icon_arrow-left.png');
    background-repeat: no-repeat;
}

.page-item:last-child .page-link{
    display: inline-block;
    width: 36px;
	height: 36px;
    background: url('/assets/images/icon_arrow-right.png');
    background-repeat: no-repeat;
}



.page-item.active{
    background: linear-gradient(#9C2CF3, #3A49F9);
    color: #fff;
}



.container-title{
    height: 100px;
    border-bottom: 1px solid #EBEFF2;
    padding: 26px 38px 26px 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    
}

.container-title__text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
}

.container-title__button-text{
    background: linear-gradient(#9C2CF3, #3A49F9);
    height: 48px;
    width: auto;
    padding: 12px 24px;
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    border-radius: 24px;
}

.container__content{
    background: #E5E5E5;
    padding: 0 36px;
}

.container__pagination{
    display: flex;
    height: 36px;
    width: 100%;
    justify-content: center;
    margin-bottom: 65px;
}

// //////////////////////////////
// Dashboard page
.dashboard-container{
    height: 100vh;
    background: #e5e5e5;
    z-index: 8;
}

.dashboard-container__title{
    height: 100px;
    border-bottom: 1px solid #EBEFF2;
}

.dashboard-container__content{
    background: #E5E5E5;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
